<div padding>
  <ion-item>
    <ion-input  [(ngModel)]="name" type="text" placeholder="Name" required></ion-input>
    <!-- <ion-input [(ngModel)]="name" type="text"></ion-input> -->
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password" required></ion-input>
  </ion-item>
  <div>
    <ion-button round (click)="dashboard()">Login</ion-button>
  </div>
</div>