<ion-header>
  <ion-toolbar>
    <ion-title>Fruit Measure</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p>fruit measure works</p>
</ion-content>
