<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <div class="menu-header">
          <ion-title slot="end">Sourabh jain</ion-title>
          <ion-icon name="people" slot="start"></ion-icon>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Dashboard</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/crops">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Crops</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/fruit-measure">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Fruit Measure</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pre-processing">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Pre Processing</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/processing">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Processing</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/packaging">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Packaging</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/post-processing">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Post processing</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/stastics">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Statistics</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/settings">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Settings</ion-lable>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-lable>Logout</ion-lable>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
